  <% if @results.nil? %>
    <div class="background_img"></div>
  <% else %>
    <div class="background_img_new">

    </div>

    <div class="main">
      <div class="container tim-container" style="max-width:800px;">
          <h1 class="text-center">Job Results<small class="subtitle"><%= @search %></small></h1>
          <%= @results.each do |job| %>
            <ul class="job_block">
              <li><%= job.formatted_location %></li>
              <li><%= job.company %></li>
              <li><%= job.job_title %></li>
              <li><%= job.city %></li>
            </ul>
          <% end %>
      </div>
    </div>
  <% end %>
