  <% if @results.nil? %>
    <div class="background_img"></div>
  <% else %>
    <div class="background_img_new">

    </div>

    <div class="main">
      <div class="container tim-container" style="max-width:800px;">
          <h1 class="text-center">Job Results<small class="subtitle"><%= @search %></small></h1>
          <%= @results.each do |job| %>
            <div class="container job_block">
              <ul class="job_block">
                <li><%= job.city %></li>
                <li><%= job.company %></li>
                <li><%= job.country %></li>
                <li><%= job.date %></li>
                <li><%= job.expired %></li>
                <li><%= job.formatted_location %></li>
                <li><%= job.formatted_location_full %></li>
                <li><%= job.formatted_relative_time %></li>
                <li><%= job.job_key %></li>
                <li><%= job.job_title %></li>
                <li><%= job.latitude %></li>
                <li><%= job.longitude %></li>
                <li><%= job.onmousedown %></li>
                <li><%= job.snippet %></li>
                <li><%= job.source %></li>
                <li><%= job.sponsored %></li>
                <li><%= job.state %></li>
                <li><%= job.url %></li>
              </ul>
            </div>
          <% end %>
      </div>
    </div>
  <% end %>
