<% if current_user %>
  <div class="background_img_new">

  </div>

  <div class="main">

    <div class="container tim-container" style="max-width:800px;">
      <h1 class="text-center">Job Results<small class="subtitle">Results for Ruby Developer</small></h1>
      <%= @api.search_jobs(q: "ruby").results.each do |job| %>
        <ul class="job_block">
          <li><%= job.job_title %></li>
          <li><%= job.company %></li>
          <li><%= job.job_title %></li>
          <li><%= job.city %></li>
        </ul>
      <% end %>
    </div>
    <div class="space"></div>
  </div>
<% else %>
  <div class="background_img">
  </div>
<% end %>
