  <% if @results.nil? %>
    <div></div>
  <% else %>
    <div   class="main background_img_dark">

      <div class="container tim-container" style="max-width:800px;background-color: rgba(255, 255, 255, 0)">
        <div id="shield">
          <h1 class="text-center">
            <img src="http://ca.indeed.com/images/indeed-notagline.png" alt="indeed logo" style="width: 50%">
            <br>
            <small class="subtitle"><%= @search %></small>
            <span class="glyphicon">&#xe114;</span>
          </h1>
        </div>
          <%= @results.each do |job| %>
              <ul class="job_block">
                <div class="row">
                  <div class="col-xs-6" id="job_company"><%= job.company %></div>
                  <div class="col-xs-3"></div>
                  <div class="col-xs-3" id="job_formatted_relative_time"><%= job.formatted_relative_time %></div>
                </div>
                  <!-- <li id="job_date"><%= job.date %></li>
                  <li id="job_expired"><%= job.expired %></li> -->
                  <li id="job_formatted_location"><%= job.formatted_location %></li>
                  <li id="job_title"><%= job.job_title %></li>
                  <li id="job_snippet"><%= job.snippet %></li>
                  <li id="job_source"><%= job.source %></li>
                  <li id="job_url"><%= link_to "see job", job.url %></li>
              </ul>
          <% end %>
      </div>
    </div>
  <% end %>
