  <% if @results.nil? %>

    <div class="bg"></div>

  <% else %>

    <div class="main container bg_dark">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <div class="shield">
            <h1 class="align-middle service_area">
              <img src="http://ca.indeed.com/images/indeed-notagline.png" alt="indeed logo" class="service_logo">
              <small class="subtitle"><%= @search %></small>
              <div class="glyphicon">&#xe259;</div>
            </h1>
          </div>


          <%= @results.each do |job| %>

              <ul class="job_block">
                <div class="row">
                  <div class="col-xs-6" id="job_company"><%= job.company %></div>
                  <div class="col-xs-3"></div>
                  <div class="col-xs-3" id="job_formatted_relative_time"><%= job.formatted_relative_time %></div>
                </div>
                  <!-- <li id="job_date"><%= job.date %></li>
                  <li id="job_expired"><%= job.expired %></li> -->
                  <li id="job_formatted_location"><%= job.formatted_location %></li>
                  <li id="job_title"><%= job.job_title %></li>
                  <li id="job_snippet"><%= job.snippet %></li>
                  <li id="job_source"><%= job.source %></li>
                  <li id="job_url"><%= link_to "see job", job.url %></li>
              </ul>

          <% end %>
        </div>
      </div>
    </div>
  <% end %>
